// iconfont
@font-face {
  font-display: swap;

  font-family: 'iconfont';  /* Project id 442558 */
  src: url('//at.alicdn.com/t/font_442558_aopnwpu2ijk.woff2?t=1638593611990') format('woff2'),
       url('//at.alicdn.com/t/font_442558_aopnwpu2ijk.woff?t=1638593611990') format('woff'),
       url('//at.alicdn.com/t/font_442558_aopnwpu2ijk.ttf?t=1638593611990') format('truetype');
}
[class*=" tl-icon"], [class^=tl-icon], [class*=" tl-icon-"], [class^=tl-icon-]{
  font-family: 'iconfont', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  vertical-align: baseline;
  text-transform: none;
}

// image
.img-fluid{
  display: block;
  max-width:100%;
  height:auto;
  margin: 0 auto;
}
.img-full{
  display: block;
  width: 100%;
  height:auto;
}

// tag
.tl{
  &-tag{
    display: inline-block;
    padding: 0 10px;
    margin-top: 5px;
    margin-right: 5px;
    color: var(--color-heading);
    font-size: 12px;
    line-height: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  &__title{
    padding: 30px 0;
    color: var(--color-heading);
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
  }
}
$tagColor:(
  "red": #ff4d4f,
  "geekblue": #597ef7,
  "orange": #ffa940,
  "cyan": #36cfc9,
  "green": #73d13d,
  "blue": #409eff,
  "purple": #9254de,
  "magenta": #f759ab
);
@each $tag, $color in $tagColor{
  .tl-tag--#{$tag}{
    color: $color;
    background-color: rgba($color: $color, $alpha: .15);
  }
}

// 断点显示
@media only screen and (min-width:992px){
  .hidden-md-and-up{
    display:none!important;
  }
}

@media only screen and (max-width:991px){
  .hidden-sm-and-down{
    display:none!important;
  }
}

@media only screen and (max-width:1199px){
  .hidden-md-and-down{
    display:none!important;
  }
}
