// light、dark
@import './settings/color-mode.scss';
// normalize
@import './generic/normalize.scss';
// element-ui
@import './generic/element-ui.scss';
// OOCSS
@import './objects/iconfont.scss';
@import './objects/objects.scss';
@import './objects/transition.scss';

// scrollbar
@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .4);
    border-radius: 4px;

    &:hover {
      background-color: rgba(144, 147, 153, .7);
    }
  }
}
