@import './variables.scss';

//reset
body, html{
  font-family: Quicksand,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,ul,ol{
  margin:0;
}
ul,ol{
  padding:0;
  list-style:none;
}
img{
  border:0;
}
input,button,textarea{
  outline:none;
}
i,s,b,em{
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
.clearfix:before,
.clearfix:after{
  content:"";
  visibility:hidden;
  clear:both;
  display:block;
  height:0;
  line-height:0;
}
.clearfix{
  zoom:1;
}
a,a:hover,a:active,a:focus,a:visited{
  text-decoration:none;
}
//iconfont
@font-face {
  font-family: 'iconfont';  /* project id 442558 */
  src: url('//at.alicdn.com/t/font_442558_893qhxvhu1s.eot');
  src: url('//at.alicdn.com/t/font_442558_893qhxvhu1s.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_442558_893qhxvhu1s.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_442558_893qhxvhu1s.woff') format('woff'),
  url('//at.alicdn.com/t/font_442558_893qhxvhu1s.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_442558_893qhxvhu1s.svg#iconfont') format('svg');
}
[class*=" tl-icon"], [class^=tl-icon], [class*=" tl-icon-"], [class^=tl-icon-]{
  font-family: 'iconfont';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-display: fallback;
  line-height: 1;
  vertical-align: baseline;
  text-transform: none;
}
.img-fluid{
  display: block;
  max-width:100%;
  height:auto;
  margin: 0 auto;
}
.img-full{
  display: block;
  width:100%;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.silent{
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  filter: gray;
}
// element-ui
.el{
  &-image-viewer__close{
    color: $primary;
    &:hover{
      color: #f56c6c;
    }
  }
  &-cascader-panel{
    .el-cascader-menu__wrap{
      height: 215px;
    }
  }
}
//waifu
.waifu {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 290px;
  height: 280px;
  margin-top: 3px;
  transition: margin-top .3s ease-in-out;
  transform-origin: bottom center;
  @media (max-width:1600px) {
    transform: scale(0.85);
  }
  @media (max-width:768px) {
    display: none;
  }
  &:hover{
    margin-top: 0;
    cursor: grab;
    .waifu-tool {
      display: block;
    }
  }
  &-tips {
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 250px;
    height: 70px;
    margin: -20px 10px;
    padding: 5px 10px;
    border: 1px solid $primary;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    text-overflow: ellipsis;
    box-shadow: 0 1px 3px #66ccff;
    animation: shake 25s ease-in-out 2s infinite;
  }
  &-tool {
    display: none;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -75px;
    color: #aaa;
    font-size: 14px;
    span {
      display: block;
      margin-bottom: 5px;
      color: $primary;
      font-size: 20px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.2s;
      &:hover{
        color: #fba100;
      }
    }
  }
}
#live2d {
  position: relative;
  top: 20px
}
//Animation
@keyframes shake{
  10% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg);
  }
  20% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }
  30% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  40% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg);
  }
  50% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  60% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  70% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  80% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  90% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }
  0%,100% {
    transform: translate(0, 0) rotate(0);
  }
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .3s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

//media query
@media (pointer: fine) {
  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(144,147,153,.4);
    border-radius: 4px;
    &:hover{
      background-color: rgba(144,147,153,.7);
    }
  }
}
