@import './layout.scss';
@import './variables.scss';

@font-face {
  font-family: 'Bega';
  src: url('~@/assets/fonts/Bega-Light.ttf');
}
.tl{
  &-tag{
    display: inline-block;
    padding: 0 10px;
    margin-top: 5px;
    margin-right: 5px;
    color: #303133;
    font-size: 12px;
    line-height: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
}
$tagColor:(
  "red": #ff4d4f,
  "geekblue": #597ef7,
  "orange": #ffa940,
  "cyan": #36cfc9,
  "green": #73d13d,
  "blue": #409eff,
  "purple": #9254de,
  "magenta": #f759ab
);
@each $tag, $color in $tagColor{
  .tl-tag--#{$tag}{
    color: $color;
    background-color: rgba($color: $color, $alpha: .15);
  }
}

//background
.background{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  // background: url('/static/music-background.webp') no-repeat;
  background-position: right center;
  background-size: contain;
  opacity: .2;
  #flower{
    width: 100%;
    height: 100%;
  }
}
.filter{
  position: relative;
  padding: 15px 0 12px;
  .el-form-item{
    &__content{
      overflow: hidden;
    }
  }
  .el-select{
    vertical-align: middle;
  }
  .el-tag{
    margin-right: 10px;
  }
}
// pagination
.list-page{
  margin: 25px 0;
  text-align: center;
  .el-pagination.is-background{
    .btn-prev, .btn-next{
      background-color: #ecf5ff;
    }
    .el-pager li{
      background-color: #fff;
    }
  }
}
// content
.Tinymce{
  padding: 15px;
  color: #606266;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 1px;
  p{
    margin: 12px 0;
  }
  h2,h3,h4,h5{
    color: #303133;
    font-weight: 100;
  }
  h2{
    margin: 4px 0 6px;
    font-size: 24px;
  }
  h3{
    margin: 3px 0 5px;
    font-size: 22px;
  }
  h4{
    margin: 2px 0 4px;
    font-size: 20px;
  }
  h5{
    margin: 1px 0 3px;
    font-size: 18px;
  }
  img{
    height: auto !important;
    max-width: 100%;
    margin: 12px 0;
    cursor: pointer;
  }
  a{
    color: $primary;
    &:hover{
      color: #E6A23C;
    }
  }
  p{
    & > code{
      display: inline-block;
      padding: 3px 6px;
      margin: 0 3px;
      background-color: #ecf5ff;
      color: $primary;
      font-size: 90%;
      font-family: Consolas,Menlo,Courier,monospace;
      line-height: 1em;
      border-radius: 4px;
    }
  }
}
.app-preview{
  .el-image{
    &__inner, &__error{
      display: none;
    }
  }
}

@media only screen and (min-width: 1920px){
  .bangumi-list-info{
    .bangumi-progress{
      width: 57%;
    }
  }
}
