@import './layout.scss';
@import './variables.scss';

@font-face {
  font-family: 'Neo';
  src: url('~@/assets/fonts/NeoSansStd.ttf');
}
.tl{
  &-tag{
    display: inline-block;
    padding: 5px 12px;
    font-size: 12px;
    color: #fff;
    border-radius: 12px;
    margin-right: 5px;
  }
}
$tagColor:#f5ad1b,#5f89ce,#94bf45,#da8ec5,#78bfc2,#bec278;
@each $color in $tagColor{
  $i:index($tagColor,$color);
  .tl-tag--color#{$i}{
    background: $color;
  }
}

//background
.background{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('/static/music-background.webp') no-repeat;
  background-position: right center;
  background-size: contain;
  opacity: .2;
  #flower{
    width: 100%;
    height: 100%;
  }
}
.filter{
  padding: 30px 0 12px;
  position: relative;
  .el-form-item{
    &__content{
      overflow: hidden;
    }
  }
  .el-select{
    vertical-align: middle;
  }
  &-btn{
    position: absolute;
    right: 0;
    top: -44px;
    opacity: 0;
    transition: opacity .3s;
    &__item{
      float: left;
      font-size: 12px;
      color: #606266;
      padding: 7px 15px;
      background-color:#ecf5ff;
      cursor: pointer;
      &--reset{
        border-bottom-left-radius: 4px;
      }
      &--confirm{
        border-top-right-radius: 4px;
      }
      &:hover{
        background-color: #d9ecff;
      }
    }
  }
}
// pagination
.list-page{
  margin: 25px 0;
  text-align: center;
  .el-pagination.is-background{
    .btn-prev, .btn-next{
      background-color: #ecf5ff;
    }
    .el-pager li{
      background-color: #fff;
    }
  }
}
// content
.Tinymce{
  padding: 15px;
  font-size: 15px;
  line-height: 1.7;
  color: #606266;
  letter-spacing: 1px;
  p{
    margin: 12px 0;
  }
  h2,h3,h4,h5{
    font-weight: 100;
    color: #303133;
  }
  h2{
    font-size: 24px;
    margin: 4px 0 6px;
  }
  h3{
    font-size: 22px;
    margin: 3px 0 5px;
  }
  h4{
    font-size: 20px;
    margin: 2px 0 4px;
  }
  h5{
    font-size: 18px;
    margin: 1px 0 3px;
  }
  img{
    max-width: 100%;
    margin: 12px 0;
    height: auto !important;
    cursor: pointer;
  }
  a{
    color: $primary;
    &:hover{
      color: #E6A23C;
    }
  }
  p{
    & > code{
      display: inline-block;
      font-size: 90%;
      font-family: Consolas,Menlo,Courier,monospace;
      color: $primary;
      margin: 0 3px;
      line-height: 1em;
      padding: 3px 6px;
      border-radius: 4px;
      background-color: #ecf5ff;
    }
  }
}
.app-preview{
  .el-image{
    &__inner, &__error{
      display: none;
    }
  }
}

@media only screen and (min-width: 1920px){
  .bangumi-list-info{
    .bangumi-progress{
      width: 57%;
    }
  }
}
