@import './variables.scss';

.aside{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: $asideWidth;
  height: 100%;
  background-color: #F2F6FC;
  box-shadow: 2px 0 10px rgba(0,0,0,.1);
  transition: width 0.3s;
  &-logo{
    padding: 25px 0 15px;
    text-align: center;
    &__img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      transition: all .3s;
    }
    &__name{
      overflow: hidden;
      padding-top: 5px;
      color: $primary;
      font-family: 'Bega';
      font-size: 24px;
      white-space: nowrap;
      transition: width 0.3;
    }
    &--collapse &__img{
      width: 50px;
      height: 50px;
    }
    &--collapse &__name{
      width: 0;
      height: 0;
    }
  }
  &-wrap{
    overflow-x: hidden;
  }
  &-menu{
    height: 100%;
    border-right: none !important;
    a{
      overflow: hidden;
      display: inline-block;
      width: 100%;
    }
    &__icon{
      width: 24px;
      margin-right: 5px;
      font-size: 18px;
      text-align: center;
      vertical-align: middle;
    }
    .el-menu-item{
      &:focus,&:hover{
        background-color: #d9ecff !important;
      }
    }
    .el-submenu__title:hover{
      background-color: #d9ecff !important;
    }
  }
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }
  .el-menu-item,.el-submenu__title{
    height: 50px;
    line-height: 50px;
  }
  .el-submenu .el-menu-item{
    height: 45px;
    line-height: 45px;
  }
  &-button{
    padding-top: 15px;
    text-align: center;
    a,span{
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 10px;
      color: #606266;
      font-size: 22px;
      line-height: 30px;
      vertical-align: middle;
      cursor: pointer;
      &:hover{
        color: $primary;
      }
    }
  }
  .el-scrollbar{
    height: calc(100vh - 160px);
  }
}

.header{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
  width: calc(100% - #{$asideWidth});
  height: 60px;
  padding: 0 15px;
  line-height: 50px;
  box-sizing: border-box;
  transition: width 0.3s;
  &-logo{
    float: left;
    line-height: 60px;
    &__avatar{
      height: 40px;
      vertical-align: middle;
      border-radius: 20px;
    }
  }
  &-menus{
    float: right;
    height: 60px;
    line-height: 60px;
    text-align: right;
    &__btn{
      margin-left: 5px;
      padding: 3px;
      color: #606266;
      font-size: 18px;
      user-select: none;
      cursor: pointer;
      &:hover{
        color: #303133;
      }
    }
  }
}

.search{
  clear: both;
  padding-bottom: 32px;
  &-drawer{
    height: auto;
    outline: none;
    .el-drawer__header>:first-child{
      outline: none;
    }
  }
  &-wrap{
    position: relative;
  }
  &-classify{
    float: left;
  }
  &-input{
    overflow: hidden;
    display: block;
    width: auto;
    padding-left: 15px;
  }
  &__button{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    color: #606266;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    &:hover{
      color: $primary;
    }
  }
  &-hot{
    padding-top: 25px;
    &-header{
      padding-bottom: 15px;
      font-size: 18px;
    }
    &__icon{
      color: #F56C6C;
    }
    &__title{
      color: #606266;
      font-weight: normal;
    }
    &__link{
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 10px;
      padding: 7px 15px;
      background-color: #E4E7ED;
      color: #606266;
      font-size: 13px;
      border-radius: 15px;
      cursor: pointer;
      &:hover{
        background-color: #ecf5ff;
        color: $primary;
      }
    }
  }
}

.app-main{
  max-width: calc(100% - #{$asideWidth});
  margin-left: $asideWidth;
  padding-top: 60px;
  transition: margin 0.3s;
  &__title{
    position: relative;
    margin: 30px 0 15px;
    padding-left: 15px;
    color: #303133;
    font-size: 24px;
    font-weight: normal;
    line-height: 1em;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background-color: $primary;
    }
  }
}

.app-container {
  width: 100%;
  min-height: calc(100vh - 150px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1920px) {
    max-width: 1280px;
  }
}

.footer{
  padding: 15px 0 20px;
  color: #909399;
  font-size: 14px;
  line-height: 1.3;
  &__icon{
    padding: 0 3px;
    vertical-align: text-bottom;
  }
  &-info{
    margin-bottom: 5px;
    text-align: center;
  }
  &-copyright{
    text-align: center;
    &__link{
      margin-left: 10px;
      color: $primary;
    }
  }
}

.hideAside {
  .aside{
    width: 64px;
    &-logo{
      &__name{
        display: hidden;
      }
    }
    &-wrap{
      overflow: hidden;
    }
    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            overflow: hidden;
            display: inline-block;
            visibility: hidden;
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
  .app-main{
    max-width: calc(100% - 64px);
    margin-left: 64px;
  }
  .header {
    width: calc(100% - 64px)
  }
}

.mobile {
  .header {
    width: 100%;
  }
  .app-main{
    margin-left: 0;
    max-width: 100%;
  }
  &.hideAside {
    .aside{
      pointer-events: none;
      transition-duration: 0.3s;
      transform: translate3d(-$asideWidth, 0, 0);
    }
  }
}
