//theme
$asideWidth: 235px;

:root {
  --color-primary: #409EFF;
  --color-main: #303133;
  --color-normal: #606266;
  --color-secondary: #909399;
  --bg: #fff;
  --bg-normal: #fff;
  --bg-secondary: #f2f2f2;
  --border-color: #EBEEF5;
  --box-shadow: rgba(0, 0, 0, .16);
}

.dark-mode {
  --color-primary: #409EFF;
  --color-main: #fff;
  --color-normal: #d3d3d3;
  --color-secondary: #aaa;
  --bg: #141414;
  --bg-normal: #303133;
  --bg-secondary: #aaa;
  --border-color: #606266;
  --box-shadow: rgba($color: #0d2538, $alpha: .16);
}
