//theme
$asideWidth: 235px;

:root {
  --color-primary: #409EFF;
  --color-main: #262626;
  --color-normal: #595959;
  --color-secondary: #8C8C8C;
  --bg: #fff;
  --bg-secondary: #ecf5ff;
  --border-color: #EBEEF5;
  --box-shadow: rgba(0, 0, 0, 0.16)	1px, 0px	2px	-2px;
}

.dark-mode {
  --color-primary: #409EFF;
  --color-main: #fff;
  --color-normal: #b3b3b3;
  --color-secondary: #aaa;
  --bg: #141414;
  --bg-secondary: #1f1f1f;
  --border-color: #303030;
  --box-shadow: rgba(0, 0, 0, 0.16)	1px, 0px	2px	-2px;
}
