.bangumi{
  &-ratings{
    .para-name{
      float: left;
    }
    .el-rate {
      overflow: hidden;
    }
  }
  &-progress{
    position: absolute;
    bottom: 10px;
    width: calc(66.6% - 24px);
    @media screen and (min-width: 1920px){
      width: calc(58.3% - 24px);
    }
    .para-name{
      float: left;
    }
    .el-progress{
      margin-left: 45px;
      line-height: 1.2em;
    }
  }
  &-list{
    &__item{
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
      border: 1px dashed var(--border-color);
      background-color: var(--bg-normal);
      border-radius: 4px;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      transition: all .3s;
      &:hover{
        border-style: solid;
        border-color: var(--color-primary);
      }
    }
    &-cover{
      position: relative;
    }
    &__ratings{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30px;
      height: 16px;
      background: var(--color-primary);
      color: #fff;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      border-top-left-radius: 4px;
    }
    &-info{
      padding: 10px 12px;
      font-size: 14px;
      line-height: 1.6em;
      .el-progress-bar{
        padding-right: 55px;
      }
      .el-progress__text{
        margin-left: 0;
        color: var(--color-noraml);
        font-size: 12px;
      }
      .para-name{
        color: var(--color-secondary);
      }
    }
    &__title{
      overflow: hidden;
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-size: 18px;
      color: var(--color-main);
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover{
        color: var(--color-primary);
      }
    }
  }
}
