@import './variables.scss';

// normalize
body,
html{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
p,
form,
ul,
ol
{
  margin:0;
}
ul,
ol{
  padding:0;
  list-style:none;
}
img{
  border:0;
}
input,
button,
textarea{
  outline:none;
}
i,
s,
b,
em{
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
.clearfix{
  zoom:1;
  &:before,
  &:after{
    content:"";
    visibility:hidden;
    clear:both;
    display:block;
    height:0;
    line-height:0;
  }
}
a {
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited{
    text-decoration:none;
  }
}

// iconfont
@font-face {
  font-display: swap;

  font-family: 'iconfont';  /* Project id 442558 */
  src: url('//at.alicdn.com/t/font_442558_eiymwjdxi7c.woff2?t=1634307910325') format('woff2'),
       url('//at.alicdn.com/t/font_442558_eiymwjdxi7c.woff?t=1634307910325') format('woff'),
       url('//at.alicdn.com/t/font_442558_eiymwjdxi7c.ttf?t=1634307910325') format('truetype');
}
[class*=" tl-icon"], [class^=tl-icon], [class*=" tl-icon-"], [class^=tl-icon-]{
  font-family: 'iconfont', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  vertical-align: baseline;
  text-transform: none;
}

// element-ui
.el{
  &-image-viewer__close{
    color: var(--color-primary);
    &:hover{
      color: #f56c6c;
    }
  }
  &-cascader-panel{
    .el-cascader-menu__wrap{
      height: 215px;
    }
  }
  &-pagination__jump{
    margin-left: 10px;
  }
}

// 公共类名
.img-fluid{
  display: block;
  max-width:100%;
  height:auto;
  margin: 0 auto;
}
.img-full{
  display: block;
  width: 100%;
  height:auto;
}
.silent{
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  filter: gray;
}
.tl{
  &-tag{
    display: inline-block;
    padding: 0 10px;
    margin-top: 5px;
    margin-right: 5px;
    color: var(--color-main);
    font-size: 12px;
    line-height: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
}
$tagColor:(
  "red": #ff4d4f,
  "geekblue": #597ef7,
  "orange": #ffa940,
  "cyan": #36cfc9,
  "green": #73d13d,
  "blue": #409eff,
  "purple": #9254de,
  "magenta": #f759ab
);
@each $tag, $color in $tagColor{
  .tl-tag--#{$tag}{
    color: $color;
    background-color: rgba($color: $color, $alpha: .15);
  }
}

// waifu
.waifu {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 240px;
  height: 250px;
  transition: margin-top .3s ease-in-out;
  transform-origin: bottom center;
  @media (max-width: 992px) {
    display: none;
  }
  &:hover{
    margin-top: 0;
    cursor: grab;
    .waifu-tool {
      display: block;
    }
  }
  &-tips {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 215px;
    height: 60px;
    padding: 5px 10px;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #303133;
    font-size: 12px;
    text-overflow: ellipsis;
    box-shadow: 0 1px 3px #66ccff;
  }
  &-tool {
    display: none;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -75px;
    color: #aaa;
    font-size: 14px;
    span {
      display: block;
      margin-bottom: 5px;
      color: var(--color-normal);
      font-size: 20px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.2s;
      &:hover{
        color: var(--color-primary);
      }
    }
  }
}
#live2d {
  position: relative;
  top: 15px
}

// Animation
/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .3s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

// Media query
@media (pointer: fine) {
  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(144,147,153,.4);
    border-radius: 4px;
    &:hover{
      background-color: rgba(144,147,153,.7);
    }
  }
}

// 断点显示
@media only screen and (min-width:992px){
  .hidden-md-and-up{
    display:none!important;
  }
}

@media only screen and (max-width:991px){
  .hidden-sm-and-down{
    display:none!important;
  }
}

@media only screen and (max-width:1199px){
  .hidden-md-and-down{
    display:none!important;
  }
}
