@import './layout.scss';
@import './variables.scss';

@font-face {
  font-family: 'Bega';
  src: url('~@/assets/fonts/Bega-Light.ttf');
}
.tl{
  &-tag{
    display: inline-block;
    padding: 0 10px;
    margin-top: 5px;
    margin-right: 5px;
    color: var(--color-main);
    font-size: 12px;
    line-height: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
}
$tagColor:(
  "red": #ff4d4f,
  "geekblue": #597ef7,
  "orange": #ffa940,
  "cyan": #36cfc9,
  "green": #73d13d,
  "blue": #409eff,
  "purple": #9254de,
  "magenta": #f759ab
);
@each $tag, $color in $tagColor{
  .tl-tag--#{$tag}{
    color: $color;
    background-color: rgba($color: $color, $alpha: .15);
  }
}

//background
.background{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  background-image: url('~@/assets/image/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  #flower{
    width: 100%;
    height: 100%;
  }
}
.dark-mode{
  .background{
    background-image: none;
  }
}

.banner{
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  &__title{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px 15px;
    background: rgba($color: #000000, $alpha: .5);
    color: #fff;
    font-size: 15px;
    border-top-left-radius: 4px;
  }
}

.filter{
  position: relative;
  padding-bottom: 12px;
  .el-form-item{
    &__label{
      color: var(--color-normal);
    }
    &__content{
      overflow: hidden;
    }
  }
  .el-select{
    vertical-align: middle;
    margin-right: 10px;
  }
  .el-tag{
    margin-right: 10px;
  }
}
// pagination
.list-page{
  margin: 25px 0;
  text-align: center;
  .el-pagination.is-background{
    .btn-prev, .btn-next, .number{
      min-width: 32px;
      height: 32px;
      background-color: var(--bg-normal);
      border: 1px solid var(--border-color);
      line-height: 30px;
      border-radius: 4px;
    }
    .btn-prev, .btn-next{
      .el-icon{
        display: inline-block;
      }
    }
    .number {
      &:hover, &.active{
        border-color: var(--color-primary);
      }
    }
  }
}
// content
.Tinymce{
  color: var(--color-normal);
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 1px;
  h2,h3,h4,h5{
    color: var(--color-main);
    font-weight: 100;
  }
  h2{
    margin: 4px 0 6px;
    font-size: 24px;
  }
  h3{
    margin: 3px 0 5px;
    font-size: 22px;
  }
  h4{
    margin: 2px 0 4px;
    font-size: 20px;
  }
  h5{
    margin: 1px 0 3px;
    font-size: 18px;
  }
  img{
    height: auto !important;
    max-width: 100%;
    margin: 12px 0;
    cursor: pointer;
  }
  a{
    color: var(--color-primary);
    &:hover{
      color: #E6A23C;
    }
  }
  p{
    margin: 12px 0;
    & > code{
      display: inline-block;
      padding: 3px 6px;
      margin: 0 3px;
      background-color: #ecf5ff;
      color: var(--color-primary);
      font-size: 90%;
      font-family: Consolas,Menlo,Courier,monospace;
      line-height: 1em;
      border-radius: 4px;
    }
  }
}
.app-preview{
  .el-image{
    &__inner, &__error{
      display: none;
    }
  }
}

@media only screen and (min-width: 1920px){
  .bangumi-list-info{
    .bangumi-progress{
      width: 57%;
    }
  }
}
