code[class*="language-"], pre[class*="language-"] {
	font-family: Consolas,Menlo,Courier,monospace;
	font-size: 14px;
	line-height: 1.5;
	white-space: pre-wrap;
	word-break: normal;
	word-wrap: break-word;
	word-spacing: normal;
	tab-size: 2;
  hyphens: none;

  &::selection,
  & ::selection{
    text-shadow: none;
    background: #b3d4fc;
  }
}
@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
  margin: 0;
	padding: 50px 15px 10px;
  color: var(--color-text);
}

/* Inline code */
.token{
  &.comment,&.prolog,&.doctype,&.cdata{ // 注释
    color: #b3b3b3;
  }
  &.punctuation{ // 标点符号
    color: var(--color-secondary);
  }
  &.tag {
    color: #3e76f6;
  }
  &.boolean,&.number,&.constant,&.symbol,&.deleted{
    color: #fc1e70;
  }
  &.selector,&.string,&.attr-value,&.char,&.builtin,&.inserted{
    color: #42b983;
  }
  &.operator,&.entity,&.regex,&.url,.language-css &.string,.style &.string{
    color: #af7dff;
  }
  &.atrule,&.attr-name,&.keyword{
    color: #008dff;
  }
  &.function,&.class-name{
    color: #f74455;
  }
  &.property,&.function,&.important,&.variable{
    color: #e96900;
  }
  &.important,&.bold{
    font-weight: bold;
  }
  &.italic{
    font-style: italic;
  }
  &.entity{
    cursor: help;
  }
}

// toolbar
.code-toolbar{
  position: relative;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  background: var(--bg-normal);
  border-radius: 4px;
}
.toolbar{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-bottom: 1px dashed var(--border-color);
  text-align: right;
  box-sizing: border-box;
  &-item{
    float: right;
    margin-left: 10px;
    span{
      position: absolute;
      left: 15px;
      top: 0;
      padding-right: 10px;
      color: var(--color-text);
      font-size: 16px;
      font-weight: normal;
      user-select: none;
    }
    &-button{
      display: inline-block;
      position: relative;
      padding: 3px 6px;
      border: none;
      background: none;
      color: var(--color-text);
      font-size: 16px;
      cursor: pointer;
      &__tips{
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 80px;
        height: 30px;
        margin-left: -44px;
        background-color: #303133;
        color: #fff;
        font-size: 12px;
        line-height: 30px;
        border-radius: 4px;
        opacity: 0;
        transition: opacity .3s;
        &:after{
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          width: 0;
          height: 0;
          margin-left: -3px;
          border: 6px solid transparent;
          border-top-color: #303133;
          border-bottom-width: 0;
        }
      }
      &:hover{
        color: var(--color-primary);
      }
      &:hover &__tips{
        opacity: 1;
      }
    }
  }
}
