//theme
$asideWidth: 235px;

:root {
  --color-primary: #1890ff;
  --color-main: rgba(0, 0, 0, .9);
  --color-normal: rgba(0, 0, 0, .7);
  --color-secondary: rgba(0, 0, 0, .5);
  --bg: rgba(0, 0, 0, .04);
  --bg-normal: #fff;
  --bg-secondary: #f2f2f2;
  --border-color: #EBEEF5;
  --box-shadow: rgba(0, 0, 0, .16);
}

.dark-mode {
  --color-primary: #1890ff;
  --color-main: #fff;
  --color-normal: #d3d3d3;
  --color-secondary: #aaa;
  --bg: #141414;
  --bg-normal: #303133;
  --bg-secondary: #404144;
  --border-color: #606266;
  --box-shadow: rgba($color: #0d2538, $alpha: .16);
}
