/* 改变主题色变量 */
$--color-primary: #1890ff;

$--font-display: swap;

$asideWidth: 222px;
$grid-space: 20px;
$border-radius: 10px;
// 阴影
$shadow-3-up: rgba(0, 0, 0, 0.08) 0px -6px	16px 0px;
$shadow-3-right: rgba(0, 0, 0, 0.08) 6px 0px	16px 0px;
$shadow-3-down: rgba(0, 0, 0, 0.08) 0px 6px	16px 0px;
