.bangumi{
  &-ratings{
    .para-name{
      float: left;
    }
    .el-rate {
      overflow: hidden;
    }
  }
  &-list{
    &-item{
      overflow: hidden;
      position: relative;
      margin-bottom: $grid-space;
      background-color: var(--bg-normal);
      box-shadow: $shadow-3-down;
      border-radius: $border-radius;
      transition: all .3s;
      &:hover{
        box-shadow: 2px 0 10px rgba(0,0,0,.1);
      }
    }
    &-cover{
      position: relative;
    }
    &__ratings{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30px;
      height: 16px;
      background: var(--color-primary);
      color: #fff;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      border-top-left-radius: 4px;
    }
    &-info{
      padding: 10px 12px;
      font-size: 14px;
      line-height: 1.6em;
      .para-name{
        color: var(--color-secondary);
      }
    }
    &__title{
      overflow: hidden;
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-size: 18px;
      color: var(--color-heading);
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover{
        color: var(--color-primary);
      }
    }
  }
}
