// content
.content {
  &-wrap {
    display: flex;
    flex-direction: row-reverse;

    @media (max-width: 1280px) {
      display: block;
    }
  }

  &-left {
    flex: 1;
    padding: $grid-space 24px;
    overflow: hidden;
    border-right: 1px dashed var(--border-color);

    @media (max-width: 576px) {
      padding: 16px;
    }
  }

  &-right {
    width: 200px;

    @media (max-width: 1280px) {
      width: 100%;
    }
  }
}

.markup {
  font-size: 16px;
  line-height: 2;
  color: var(--color-text);
  letter-spacing: 1px;
  word-break: break-word;

  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-heading);
  }

  h2 {
    padding: 10px 0 12px;
    font-size: 28px;
  }

  h3 {
    padding: 8px 0 10px;
    font-size: 25px;
  }

  h4 {
    padding: 6px 0 8px;
    font-size: 22px;
  }

  h5 {
    padding: 4px 0 6px;
    font-size: 19px;
  }

  img {
    max-width: 100%;
    height: auto !important;
    margin: 12px 0;
    cursor: pointer;
  }

  a {
    margin: 0 4px;
    color: var(--color-primary);

    &:hover {
      color: #F56C6C;
    }
  }

  p {
    margin: 6px 0;

    & > code {
      display: inline-block;
      padding: 3px 6px;
      margin: 0 4px;
      font-family: Consolas, Menlo, Courier, monospace;
      font-size: 90%;
      line-height: 1em;
      color: var(--color-primary);
      background-color: #ECF5FF;
      border-radius: 4px;
    }
  }

  ul,
  ol {
    li {
      position: relative;
      padding-left: 24px;

      &::before {
        position: absolute;
      }
    }
  }

  ul {
    li {
      &::before {
        top: 13px;
        left: 6px;
        width: 6px;
        height: 6px;
        content: '';
        background-color: var(--color-primary);
        border-radius: 50%;
      }
    }
  }

  ol {
    counter-reset: sectionCounter;

    li {
      &::before {
        top: 8px;
        left: 0;
        width: 18px;
        height: 18px;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        text-align: center;
        content: counter(sectionCounter);
        counter-increment: sectionCounter;
        background-color: var(--color-primary);
        border-radius: 50%;
      }
    }
  }

  blockquote {
    padding: 8px $grid-space;
    margin: 10px 0;
    background: var(--bg);
    border-left: 3px solid var(--color-primary);
    border-radius: 4px;
  }

  table {
    margin: $grid-space 0;
    border-spacing: 0;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);

    th,
    td {
      padding: 8px 16px;
      border-right: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
    }
  }
}

.app-preview {
  display: none;
}
