// content
.markdown{
  color: var(--color-text);
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 1px;
  word-break: break-word;
  h2,h3,h4,h5{
    color: var(--color-heading);
    font-weight: 500;
  }
  h2{
    margin: 4px 0 6px;
    font-size: 26px;
  }
  h3{
    margin: 3px 0 5px;
    font-size: 23px;
  }
  h4{
    margin: 2px 0 4px;
    font-size: 20px;
  }
  h5{
    margin: 1px 0 3px;
    font-size: 17px;
  }
  img{
    height: auto !important;
    max-width: 100%;
    margin: 12px 0;
    cursor: pointer;
  }
  a{
    color: var(--color-primary);
    &:hover{
      color: #E6A23C;
    }
  }
  p{
    margin: 12px 0;
    & > code{
      display: inline-block;
      padding: 3px 6px;
      margin: 0 3px;
      background-color: #ecf5ff;
      color: var(--color-primary);
      font-size: 90%;
      font-family: Consolas,Menlo,Courier,monospace;
      line-height: 1em;
      border-radius: 4px;
    }
  }
}
.app-preview{
  display: none;
}
