@font-face {
  font-family: 'Bega';
  src: url('~@/assets/fonts/Bega-Light.ttf');
  font-display: swap;
}

body{
  background-color: var(--bg);
  color: var(--color-text);
  transition: background-color .3s;
}

// 侧边菜单
$asideWidth: 240px;
.aside{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: $asideWidth;
  height: 100%;
  background-color: var(--bg-normal);
  box-shadow: $shadow-3-right;
  transition: width 0.3s;
  &-mask{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
  }
  &-logo{
    padding: 50px 0 15px;
    background-color: var(--bg-normal);
    text-align: center;
    &__img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      transition: all .3s;
    }
    &__name{
      overflow: hidden;
      padding-top: 5px;
      color: var(--color-primary);
      font-family: 'Bega', sans-serif;
      font-size: 30px;
      white-space: nowrap;
      transition: width 0.3;
    }
    &--collapse {
      padding-bottom: 0;
    }
    &--collapse &__img{
      width: 50px;
      height: 50px;
    }
    &--collapse &__name{
      width: 0;
      height: 0;
    }
  }
  &-scrollbar{
    height: calc(100vh - 210px);
    background-color: var(--bg-normal);
    &-wrapper{
      overflow-x: hidden;
    }
    .el-scrollbar__bar.is-horizontal{
      display: none;
    }
  }
  &-menu{
    height: 100%;
    background-color: var(--bg-normal);
    border-right: none !important;
    &__icon{
      width: 24px;
      margin-right: 5px;
      font-size: 18px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }
  .el-menu {
    background: none;
    .el-submenu .el-menu-item{
      height: 45px;
      line-height: 45px;
    }
    &--popup {
      background-color: var(--bg-normal);
    }
    a{
      overflow: hidden;
      display: inline-block;
      width: 100%;
      color: var(--color-heading);
    }
    .el-menu-item, .el-submenu__title{
      height: 50px;
      color: var(--color-heading);
      line-height: 50px;
    }
    .el-menu-item{
      &.is-active{
        color: var(--color-primary);
      }
      &:focus,&:hover{
        background-color: var(--menu-active) !important;
        color: var(--color-primary);
        a, i{
          color: var(--color-primary);
        }
      }
    }
    .el-submenu__title:hover{
      background-color: var(--menu-active) !important;
      color: var(--color-primary);
      i{
        color: var(--color-primary);
      }
    }
  }
}

// 头部
$header-height: 45px;
.header{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: calc(100% - #{$asideWidth});
  height: 0;
  padding: 0 15px;
  box-sizing: border-box;
  transition: width 0.3s;
  @media (max-width: 992px) {
    z-index: 998;
    height: $header-height;
    line-height: $header-height;
    background-color: var(--bg-normal);
    box-shadow: 2px 0 10px rgba(0,0,0,.1);
  }
  &-logo{
    position: relative;
    float: left;
    line-height: $header-height;
    &__avatar{
      height: 36px;
      margin-right: 3px;
      vertical-align: middle;
      border-radius: 20px;
    }
    &__hamburger{
      position: absolute;
      top: 10px;
      left: -50px;
      padding: 6px;
      font-size: 18px;
      cursor: pointer;
      &:hover{
        color: var(--color-heading);
      }
      &--collapse{
        left: -60px;
      }
      @media (max-width: 992px) {
        position: static;
      }
    }
  }
  &-menus{
    float: right;
    height: $header-height;
    line-height: $header-height;
    text-align: right;
    &__btn{
      margin-left: 3px;
      padding: 5px;
      color: var(--color-text);
      font-size: 18px;
      user-select: none;
      outline: none;
      cursor: pointer;
      &:hover{
        color: var(--color-heading);
      }
    }
  }
}

// 搜索
.el-drawer{
  background-color: var(--bg-normal);
}
.search{
  clear: both;
  .container{
    min-height: auto;
  }
  &-drawer{
    height: auto;
    outline: none;
    .el-drawer__header>:first-child{
      outline: none;
    }
  }
  &-wrap{
    position: relative;
  }
  &-classify{
    float: left;
    margin-right: 15px;
    @media (max-width: 769px) {
      float: none;
      width: 100%;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
  &-input{
    overflow: hidden;
    display: block;
    position: relative;
    width: auto;
    &__button{
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      &:hover{
        color: var(--color-primary);
      }
    }
  }
  &-hot{
    padding-top: 25px;
    &-header{
      padding-bottom: 15px;
      font-size: 18px;
    }
    &__icon{
      color: #F56C6C;
    }
    &__title{
      font-weight: normal;
    }
    &__link{
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 10px;
      padding: 7px 15px;
      background-color: var(--bg-normal);
      font-size: 13px;
      border-radius: 15px;
      cursor: pointer;
      &:hover{
        background-color: #ecf5ff;
        color: var(--color-primary);
      }
    }
  }
}

// 内容
.app-main{
  margin-left: $asideWidth;
  margin-right: $asideWidth;
  transition: margin 0.3s;
  @media (max-width: 992px) {
    margin-right: 0;
  }
  &__title{
    position: relative;
    margin: $grid-space + 8px 0;
    padding-left: 15px;
    color: var(--color-heading);
    font-size: 24px;
    font-weight: normal;
    line-height: 1em;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
    }
  }
}

.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1920px) {
    max-width: 1230px;
  }
}

// background
.background{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  background-image: url('~@/assets/image/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  #flower{
    width: 100%;
    height: 100%;
  }
}
.dark-mode{
  .background{
    background-image: none;
  }
}

// 底部
.footer{
  padding: 15px 0 20px;
  color: var(--color-heading);
  font-size: 14px;
  line-height: 1.3;
  &__icon{
    padding: 0 3px;
    vertical-align: text-bottom;
  }
  &-info{
    margin-bottom: 5px;
    text-align: center;
    @media (max-width: 576px) {
      display: none;
    }
  }
  &-copyright{
    text-align: center;
    &__link{
      margin-left: 10px;
      color: var(--color-primary);
      @media (max-width: 576px) {
        display: none;
      }
    }
  }
}

// waifu
.waifu {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 240px;
  height: 250px;
  transition: margin-top .3s ease-in-out;
  transform-origin: bottom center;
  @media (max-width: 992px) {
    display: none;
  }
  &:hover{
    margin-top: 0;
    cursor: grab;
    .waifu-tool {
      display: block;
    }
  }
  &-tips {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 215px;
    height: 60px;
    padding: 5px 10px;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #303133;
    font-size: 12px;
    text-overflow: ellipsis;
    box-shadow: 0 1px 3px #66ccff;
  }
  &-tool {
    display: none;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -75px;
    color: #aaa;
    font-size: 14px;
    span {
      display: block;
      margin-bottom: 10px;
      color: var(--color-text);
      font-size: 20px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.2s;
      &:hover{
        color: var(--color-primary);
      }
    }
  }
}
#live2d {
  position: relative;
  top: 15px
}

.hideAside {
  .aside{
    width: 64px;
    &-logo{
      &__name{
        display: hidden;
      }
    }
    &-wrap{
      overflow: hidden;
    }
    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            overflow: hidden;
            display: inline-block;
            visibility: hidden;
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
  .header {
    width: calc(100% - 64px)
  }
}

.mobile {
  .header {
    width: 100%;
  }
  .app-main{
    margin-left: 0;
    max-width: 100%;
    padding-top: $header-height + 15px;
  }
  &.hideAside {
    .aside{
      pointer-events: none;
      transition-duration: 0.3s;
      transform: translate3d(-$asideWidth, 0, 0);
    }
  }
}
