code[class*="language-"], pre[class*="language-"] {
	font-family: Consolas,Menlo,Courier,monospace;
	font-size: 14px;
	line-height: 1.5;
	word-break: normal;
	word-wrap: break-word;
	word-spacing: normal;
	tab-size: 2;
  hyphens: none;

  &::selection,
  & ::selection{
    text-shadow: none;
    background: #b3d4fc;
  }
}
@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
	padding: 50px 15px 10px;
  color: var(--color-heading);
}

/* Inline code */
.token{
  &.comment,&.prolog,&.doctype,&.cdata{ // 注释
    color: #b3b3b3;
  }
  &.punctuation{ // 标点符号
    color: var(--color-secondary);
  }
  &.tag {
    color: #3e76f6;
  }
  &.boolean,&.number,&.constant,&.symbol,&.deleted{
    color: #fc1e70;
  }
  &.selector,&.string,&.attr-value,&.char,&.builtin,&.inserted{
    color: #42b983;
  }
  &.operator,&.entity,&.regex,&.url,.language-css &.string,.style &.string{
    color: #af7dff;
  }
  &.atrule,&.attr-name,&.keyword{
    color: #008dff;
  }
  &.function,&.class-name{
    color: #f74455;
  }
  &.property,&.function,&.important,&.variable{
    color: #e96900;
  }
  &.important,&.bold{
    font-weight: bold;
  }
  &.italic{
    font-style: italic;
  }
  &.entity{
    cursor: help;
  }
}

// toolbar
.code-toolbar{
  position: relative;
  margin: $grid-space 0;
  background: var(--bg);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px -2px;
  transition: all .3s;
  &--fullscreen {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    margin: 0;
    .toolbar{
      position: fixed;
    }
  }
  &--newline{
    pre[class*="language-"]{
      white-space: pre-wrap;
    }
  }
}
.toolbar{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40px;
  padding-right: 16px;
  background-color: var(--code-toolbar-bg);
  line-height: 40px;
  text-align: right;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  &:before{
    content: '';
    position: absolute;
    left: 16px;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    background: #fc625d;
    border-radius: 50%;
    box-shadow: 1.25rem 0 #fdbc40, 2.5rem 0 #35cd4b;
  }
  &-item{
    display: inline-block;
    margin-left: 12px;
    span{
      position: absolute;
      left: 80px;
      top: 0;
      padding-right: 10px;
      color: var(--color-text);
      font-size: 18px;
      font-weight: normal;
      user-select: none;
    }
    &-button{
      display: inline-block;
      position: relative;
      padding: 0;
      border: none;
      background: none;
      color: var(--color-text);
      font-size: 18px;
      cursor: pointer;
      &__tips{
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 60px;
        height: 28px;
        margin-left: -34px;
        background-color: #303133;
        color: #fff;
        font-size: 12px;
        line-height: 28px;
        border-radius: 4px;
        opacity: 0;
        transition: opacity .3s;
        &:after{
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          width: 0;
          height: 0;
          margin-left: -3px;
          border: 6px solid transparent;
          border-top-color: #303133;
          border-bottom-width: 0;
        }
      }
      &:hover{
        color: var(--color-primary);
      }
      &:hover &__tips{
        opacity: 1;
      }
    }
  }
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
  & > code {
    position: relative;
    white-space: inherit;
  }
}

.line-numbers {
  &-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid var(--border-color);
    user-select: none;
    & > span {
      display: block;
      counter-increment: linenumber;
      &:before {
        content: counter(linenumber);
        color: var(--color-text);
        display: block;
        padding-right: 0.8em;
        text-align: right;
      }
    }
  }
}
